<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');

  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
  }
</style>
<header>
  <title>Miranda & Liam's Wedding</title>
</header>
<h1 style="margin-top: 10%; display: block; text-align: center">Check back soon at <a href="http://www.liamandmiranda.com">www.liamandmiranda.com</a> for more information!
</h1>