.spinner-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.spinner-background {
  position: absolute;
  background-color: white;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.spinner {
  animation: spinnerSpin 2s infinite linear;
  z-index: 11;
}

@keyframes spinnerSpin {
  0% {
    transform: rotate3d(0,0,1,0deg);
  }
  100% {
    transform: rotate3d(0,0,1,359deg);
  }
}