.weddingCard {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  width: 425px;
  max-width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  min-height: 100vh;
  overflow: hidden;
}

.fern {
  background-image: url("./greenery.png");
  height: 200px;
  height: 218px;
  width: 100%;
  align-self: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.fern-top {
  transform: rotate(180deg);
  top: -10px;
}

.fern-bottom {
  bottom: -10px;
}

.wedding-card-container {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 0 70px;
}