.weddingButton {
  position: relative;
  min-width: 100px;
  border: 0px;
  padding: 5px 15px;
  background-color: white;
  color: black;
  font-family: 'Open Sans', serif;
  font-size: 1.1rem;
  transition: background-color 0.15s ease;
  border: 2px solid #687f46;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.weddingButton.primary {
  background-color: #687f46;
  border: 0px;
  color: white;
}
.weddingButton.full-width {
  width: 100%;
}

.weddingButton.disabled {
  border: 0px;
  background-color: #b4bea5;
  color: #8c8c8c;
  cursor: inherit;
}