@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');
@font-face {
  font-family: 'Amuba';
  src: url('amuba-webfont.woff') format('woff'), /* Modern Browsers */
       url('amuba-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
}

p {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.no-margin {
  margin: 0px;
  line-height: 1rem;
}

.styled {
  font-family: 'Amuba', serif;
  text-align: center;
  font-size: 4rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: inherit;
}

.question-section {
  margin-bottom: 20px;
}